{% extends "layouts/base.html" %}

{% block title %}
    {{ super() }} | Catégorie 
{% endblock %}

{% block content %}
    {{ super() }}

    <h2>Catégorie : {{ category.name }}</h2>
       
        <div class="flex flex-wrap space-between ">
            {% for c in category.courses %}
                  <div class="max-w-xs mx-2 my-4 mb-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col transition-transform  transform hover:scale-105 flex flex">
                     <a href="{{ url_for('course_description', course_id=c.id) }}">
                        <img class="max-w"  src="{{ c["image"] }}" alt="" srcset="">      </h5>
                     </a>
                     <div class="p-5">
                        <a href="#">
                              <h4 class="mb-4 text-2xl font-bold text-sm tracking-tight text-gray-900 dark:text-white">{{c["title"]}}
                        </a>
                        <p class="mb-3 text-sm text-gray-700 dark:text-gray-400 ">{{c["price"]}}</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 add-to-cart-btn" data-course-id="{{ c['id'] }}">
                              Ajouter au panier
                              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                              </svg>
                        </a>
                        
                     </div>
                
                  </div>
                  <script  src="{{ url_for('static', filename='js/ajoutPanier.js') }}"></script>

        {% endfor %}
    </div>
    
{% endblock %}
